extends layout 

block content 
    h1= title 

    .contribute 
        form(action="", method="post")

            .form-content
                label(for="amount") How much?
                input(type="number", name="amount" placeholder='Ex: 5$' min='1' max='100')

            button.form.btn(type='submit') Submit 