doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        .header 
          h1 Members Only
          p Your anonymous messaging app.
        nav
          ul
            li: a(href='/') Home
            if (session)
              li: a(href='/message/new') New Message
              li: a(href='/logout') Logout
            else 
              li: a(href='/login') Login
              li: a(href='/register') Register

  main
    block content
    
  footer
    p If you liked the app, you can contribute for our project 
      a(href='/contribute') Here
      