doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        .header 
          h1 Members Only
          p Your anonymous messaging app.
        nav
          ul
            li: a(href='/') Home
            li: a(href='/messages') Messages
            if (session)
              li: a(href='/user/' + session.user.id) #{session.user.first}
              li: a(href='/logout') Logout
            else 
              li: a(href='/login') Login

  main
      block content