extends layout

block content 
    .login 
        h1.login #{title}
        
        form(class='login form' method='POST' action='')
            div.form-content
                label(for="email") Message: 
                textarea#text.form-control(type='text' name='message'
                placeholder="What's on your mind?" required='true'
                value=(undefined === message ? '' : message.message))
            button.form.btn(type='submit') Send Post

    if errors
            ul
                for error in errors
                    li!= error.msg
        