extends layout 

block content 

    .error
        h1(style='margin: 0 auto;') Log in to #{problem}.
        .outer
            a(href='/register') Register Here
            p(style='margin: 4px') Or
            a(href='/login') Login Here