extends layout 

block content 
    h1= title 

    table.contribute.list 
        thead 
            tr 
                th User 
                th Contribution
        tbody 
            for contribute in contributors 
                tr 
                    td 
                        a(href=contribute.url) #{contribute.full_name}
                    td= contribute.amount_contributed
                
                    